services:
  - type: web
    name: n8n-service
    env: docker
    image: n8nio/n8n:latest
    plan: free
    healthCheckPath: /healthz
    envVars:
      - key: N8N_PORT
        value: "5678"
      - key: DB_TYPE
        value: postgresdb
      - key: DB_POSTGRESDB_HOST
        fromDatabase:
          name: n8n-db
          property: host
      - key: DB_POSTGRESDB_PORT
        fromDatabase:
          name: n8n-db
          property: port
      - key: DB_POSTGRESDB_DATABASE
        fromDatabase:
          name: n8n-db
          property: database
      - key: DB_POSTGRESDB_USER
        fromDatabase:
          name: n8n-db
          property: user
      - key: DB_POSTGRESDB_PASSWORD
        fromDatabase:
          name: n8n-db
          property: password
      - key: N8N_PROTOCOL
        value: https
      - key: WEBHOOK_URL
        value: https://temporary-webhook-url.com
      - key: N8N_ENCRYPTION_KEY
        generateValue: true

databases:
  - name: n8n-db
    plan: free
    databaseName: n8n
    user: n8n
